<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    Dev tinder
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" #mycards>
<ion-card *ngFor="let person of people" [style.position]="'absolute'"   >
<img [src]="person.img" [style.width]="'100%'" >
    <ion-card-header>
      <ion-card-title>{{person.name}}</ion-card-title>

    </ion-card-header>
  <ion-card-content [style.color]="'white'">
   {{person.date}}
  </ion-card-content>
</ion-card>
</ion-content>
